<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="items" />
</div>
<div class="flex flex-column gap-2">
    <div class="card flex w-12 flex-column md:flex-row gap-2">
        <input type="text" class="w-12" pInputText placeholder="Nombre" [(ngModel)]="filtro.nombre" />
        <input type="text" class="w-12" placeholder="Comuna" pInputText [(ngModel)]="filtro.comuna" />
        <div class="flex w-12 flex-row gap-2">
            <p-button label="Buscar" [fluid]="true" class="w-12" severity="info" icon="pi pi-search" [outlined]="true" (onClick)="getEscuelas()" />
            <p-button label="Agregar" [fluid]="true" class="w-12" severity="info" icon="pi pi-plus" [routerLink]="['/escuelas/formulario']" />
        </div>
    </div>
    <p-table class="hidden md:block card" [value]="escuelas ? escuelas.content : []" #dt1 key="id">
        <ng-template #header>
            <tr>
                <th>Nombre</th>
                <th>Comuna</th>
                <th>Dirección</th>
                <th>Rbd</th>
                <th>Telefono</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.comuna }}</td>
                <td>{{ item.direccion }}</td>
                <td>{{ item.rbd }}</td>
                <td>{{ item.telefono }}</td>
                <td><p-button icon="pi pi-eye" [rounded]="true" [text]="true" severity="help" [routerLink]="['/escuelas/dashboard/' + item.id]" /></td>
            </tr>
        </ng-template>
        <ng-template #summary >
            <p-paginator (onPageChange)="pageChange($event)" [first]="filtro.page * filtro.size" [rows]="filtro.size" [totalRecords]="escuelas ? escuelas.totalElements : 0" [rowsPerPageOptions]="[10, 20, 30]" />
        </ng-template>
    </p-table>
    <ng-container *ngIf="escuelas && escuelas.content">
        <app-table-mobile [acciones]="acciones" [page]="filtro.page" [size]="filtro.size" [totalElements]="escuelas ? escuelas.totalElements : 0" [data]="escuelas.content" (pageChange)="pageChange($event)" [campos]="campos"></app-table-mobile>
    </ng-container>
</div>
<app-modal-loading [visible]="loading" />
