<div class="flex flex-column gap-3">
    <div class="card flex flex-column md:flex-row gap-1">
        <div class="flex flex-column md:flex-row gap-1 w-12">
            <input pInputText id="numero" (keydown.enter)="getData()" [(ngModel)]="filtro.id" placeholder="Buscar por Número" class="w-12" />
            <app-escuelas-select class="w-12" [(escuela)]="filtro.escuela" [showClear]="true" [showFilter]="true" [validar]="false"></app-escuelas-select>
        </div>
        <div class="flex flex-column md:flex-row gap-1 w-12">
            <!-- <app-proveedor-select class="w-12" [(proveedor)]="filtro.proveedor" [showClear]="true" [showFilter]="true" [validar]="false" (ngModelChange)="getData()" ></app-proveedor-select> -->
            <select-boolean [opciones]="opcionesSelectBoolean" class="w-12" [(variable)]="filtro.entregado" [showClear]="true" [showFilter]="true" [validar]="false"></select-boolean>
        </div>
        <button pButton icon="pi pi-search" label="Buscar" class="md:w-4 w-12" [loading]="loading" (click)="getData()"></button>
    </div>
    <p-table class="hidden md:block card" [value]="ordenes && ordenes.content ? ordenes.content : []" id="ordenes-table" [loading]="loading" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th class="text-center">Número</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Escuela</th>
                <th class="text-center">Estado</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-producto>
            <tr>
                <td class="text-center">{{ producto.id }}</td>
                <td class="text-center">{{ producto.fecha | fechaHora }}</td>
                <td class="text-center">{{ producto.escuela.nombre }}</td>
                <td class="text-center" *ngIf="producto.entregado">
                    <p-tag severity="success" value="Entregado" />
                </td>
                <td class="text-center" *ngIf="!producto.entregado">
                    <p-tag severity="warn" value="No entregado" />
                </td>
                <td class="text-center">
                    <p-button pTooltip="Editar" icon="pi pi-pencil" [rounded]="true" [text]="true" severity="help" [routerLink]="['/ordenes-servicios/formulario/' + producto.id]" />
                    <p-button pTooltip="Eliminar" icon="pi pi-trash" [rounded]="true" [text]="true" severity="warn" (click)="confirmarEliminar(producto)" />
                    <p-button pTooltip="PDF" icon="pi pi-file-pdf" [rounded]="true" [text]="true" severity="danger" (click)="obtenerPdf(producto)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <p-paginator (onPageChange)="pageChange($event)" [first]="filtro.page * filtro.size" [rows]="filtro.size" [totalRecords]="ordenes ? ordenes.totalElements : 0" [rowsPerPageOptions]="[10, 20, 30]" />
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="5" class="text-center">No se encontraron ordenes de servicio</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-table-mobile [size]="filtro.size" [page]="filtro.page" (pageChange)="pageChange($event)" [mostrarAcciones]="true" [acciones]="acciones" [data]="ordenes ? ordenes.content : []" [campos]="campos"></app-table-mobile>
<app-modal-loading [visible]="loading" />
<p-confirmdialog #eliminarOs key="eliminarOs">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-trash !text-6xl text-red-500"></i>
            <p>¿Está seguro de Eliminar la Orden de Servicio?</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" icon="pi pi-times" class="w-12" [fluid]="true" severity="secondary" (click)="eliminarOs.onReject()" />
        <p-button label="Eliminar" icon="pi pi-check" class="w-12" [fluid]="true" severity="danger" (click)="eliminarOs.onAccept()" />
    </ng-template>
</p-confirmdialog>
