<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" />
</div>
<div class="flex flex-column gap-3 card">
    <div class="flex md:flex-row gap-2 flex-column" *ngIf="!ingreso.id">
        <div class="flex flex-column gap-2 w-12" *ngIf="!ingreso.id">
            <label for="documento">Documento</label>
            <input [disabled]="ingreso.id" pInputText id="documento" [(ngModel)]="ingreso.documento" placeholder="Ingrese número de documento" class="w-12 {{ validar && !ingreso.documento ? 'ng-dirty ng-invalid' : '' }}" />
        </div>
        <div class="flex flex-column gap-2 w-12" *ngIf="!ingreso.id">
            <label for="documento">Tipo Documento</label>
            <app-documentos-tipo-select [disabled]="ingreso.id != undefined" [validar]="validar" [(documentoTipo)]="ingreso.documentoTipo"></app-documentos-tipo-select>
        </div>
        <div class="flex flex-column gap-2 w-12" *ngIf="!ingreso.id">
            <label for="documento">Bodega</label>
            <app-bodegas-select [disabled]="ingreso.id != undefined" [validar]="validar" [(bodega)]="ingreso.bodega"></app-bodegas-select>
        </div>
        <div class="flex flex-column algin-items-end justify-content-end w-12" *ngIf="!ingreso.id">
            <button *ngIf="!ingreso.id" pButton [fluid]="true" label="Comenzar" severity="info" class="w-12" (click)="comenzar()"></button>
        </div>
    </div>
    <div class="flex flex-column gap-2 justify-content-center" *ngIf="ingreso.id">
        <div class="flex flex-column gap-1">
            <h2 class="text-2xl mb-0 w-12 text-center font-semibold">INGRESO N° {{ ingreso.id }}</h2>
            <span class="text-lg text-gray-500 w-12 text-center">Documento: {{ ingreso.documento }}</span>
            <span class="text-md text-gray-500 w-12 text-center">Fecha Cierre: {{ ingreso.fechaCierre | date: 'short' }}</span>
        </div>
        <div class="flex flex-column w-12 align-items-center gap-1 justify-content-center" [ngSwitch]="ingreso.estado">
            <p-chip class="bg-orange-400 text-center text-gray-50 font-semibold" *ngSwitchCase="0" label="Temporal"></p-chip>
            <p-chip class="bg-red-500 text-center text-gray-50 font-semibold" *ngSwitchCase="1" label="Abierto"></p-chip>
            <p-chip class="bg-green-500 text-center text-gray-50 font-semibold" *ngSwitchCase="2" label="Cerrado"></p-chip>
        </div>
    </div>
</div>
<div class="flex flex-column gap-3 card" *ngIf="ingreso.id">
    <div class="flex flex-row gap-2" *ngIf="ingreso.estado != 2">
        <p-buttongroup>
            <p-button class="md:block hidden" [severity]="modoUnidad ? 'secondary' : 'success'" [outlined]="modoUnidad" label="Manual" (click)="modoChange()" />
            <p-button class="md:hidden block" [severity]="modoUnidad ? 'secondary' : 'success'" [outlined]="modoUnidad" label="M" (click)="modoChange()" />
            <p-button class="md:block hidden" [severity]="modoUnidad ? 'success' : 'secondary'" [outlined]="!modoUnidad" label="Unidad" (click)="modoChange()" />
            <p-button class="md:hidden block" [severity]="modoUnidad ? 'success' : 'secondary'" [outlined]="!modoUnidad" label="U" (click)="modoChange()" />
        </p-buttongroup>
        <input [fluid]="true" pInputText [pAutoFocus]="focusArticulo" id="articulo" (keydown.enter)="buscarArticulo()" [(ngModel)]="articuloBuscar" placeholder="Ingrese codigo" class="w-12" />
    </div>
    <p-table showGridlines [responsive]="true" [value]="ingreso.detalles">
        <ng-template #header>
            <tr>
                <th class="text-center">Detalle</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center" *ngIf="ingreso.id && ingreso.estado != 2"></th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td class="text-center">
                    <div class="flex flex-column gap-1">
                        <span class="text-xl font-semibold">{{ item.item.codigo }}</span>
                        <span class="text-xl text-gray-500">{{ item.item.nombre }}</span>
                    </div>
                </td>
                <td class="text-center">
                    <span class="text-xl">{{ item.cantidad }}</span>
                </td>
                <td class="text-center" *ngIf="ingreso.id && ingreso.estado != 2">
                    <p-button pTooltip="Eliminar" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="eliminarDetalle(item)" />
                    <p-button *ngIf="ingreso.id && ingreso.estado != 2" pTooltip="Editar" icon="pi pi-pencil" [rounded]="true" [text]="true" severity="success" (click)="editarDetalle(item)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="4" class="text-center">No se han agregados artículos.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div *ngIf="ingreso.id && ingreso.estado == 0" class="flex flex-column gap-2 card">
    <button pButton [fluid]="true" label="Guardar" severity="success" class="w-12" (click)="abrir()"></button>
</div>
<div class="flex flex-column gap-2 card" *ngIf="ingreso.id && ingreso.estado == 1">
    <button pButton [fluid]="true" label="Cerrar" severity="success" class="w-12" (click)="cerrar()"></button>
</div>
<div class="flex flex-column gap-2 card" *ngIf="ingreso.estado && tieneSaldo()">
    <button pButton [fluid]="true" label="Crear Orden de Servicio" severity="primary" class="w-12" [routerLink]="['/ordenes-servicios/ingreso/' + ingreso.id]" routerLinkActive="router-link-active"></button>
</div>
<app-modal-loading [visible]="loading"></app-modal-loading>
<p-toast />
<app-modal-cantidad (cantidadChange)="sumarCantidad($event)" [(visible)]="modalCantidadVisible"></app-modal-cantidad>
<p-confirmdialog #confirmDelete key="confirmDelete">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-trash !text-6xl text-red-500"></i>
            <p>¿Está seguro de Eliminar la imagen?</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" icon="pi pi-times" class="w-12" [fluid]="true" severity="secondary" (click)="confirmDelete.onReject()" />
        <p-button label="Eliminar" icon="pi pi-check" class="w-12" [fluid]="true" severity="danger" (click)="confirmDelete.onAccept()" />
    </ng-template>
</p-confirmdialog>
<p-confirmdialog #temporal key="temporal" header="Ingreso Temporal">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <p>¿Desea seguir trabajando en el Ingreso {{ ingreso.id }}?</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Eliminar" class="w-12" [fluid]="true" severity="danger" (click)="temporal.onReject()" />
        <p-button label="Continuar" class="w-12" [fluid]="true" severity="success" (click)="temporal.onAccept()" />
    </ng-template>
</p-confirmdialog>
