<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" />
</div>
<div class="flex flex-column gap-3 card">
    <div class="flex md:flex-row flex-column gap-2" *ngIf="!devolucion.id">
        <app-ordenes-servicios-modal-select [enRuta]="false" (ordenesServiciosSeleccionadosChange)="ordenesServiciosSeleccionadosChange($event)" [(ordenesServiciosSeleccionados)]="ordenesServicio" class="w-12"></app-ordenes-servicios-modal-select>
    </div>
    <div class="flex flex-column gap-2" *ngIf="devolucion.ordenServicio">
        <div class="flex flex-column gap-1" *ngIf="devolucion.ordenServicio">
            <h2 class="text-2xl mb-0 w-12 text-center font-semibold">Devolución n° {{ devolucion.id }}</h2>
            <p-badge *ngIf="devolucion.estado == 0" severity="danger" value="Temporal"></p-badge>
            <p-badge *ngIf="devolucion.estado == 1" severity="success" value="Abierto"></p-badge>
            <p-badge *ngIf="devolucion.estado == 2" severity="warn" value="Cerrado"></p-badge>
        </div>
        <table class="table-auto w-full border border-gray-300 border-round-xl">
            <tbody class="border-round-xl">
                <tr>
                    <th class="text-left px-4 py-2 bg-gray-100 dark:bg-gray-800 border-b border-gray-300 dark:border-gray-600 w-1/3">Número de Orden</th>
                    <td class="px-4 py-2 border-b border-gray-300 text-right">
                        <span class="text-sm font-semibold">{{ devolucion.ordenServicio.id }}</span>
                    </td>
                </tr>
                <tr *ngIf="devolucion.ordenServicio.escuela">
                    <th class="text-left px-4 py-2 bg-gray-100 dark:bg-gray-800 border-b border-gray-300 dark:border-gray-600 w-1/3">Escuela</th>
                    <td class="px-4 py-2 border-b border-gray-300 text-right">
                        <span class="text-sm font-semibold">{{ devolucion.ordenServicio.escuela.nombre }}</span>
                    </td>
                </tr>
                <tr *ngIf="devolucion.ordenServicio.documento">
                    <th class="text-left px-4 py-2 bg-gray-100 dark:bg-gray-800 border-b border-gray-300 dark:border-gray-600 w-1/3">Documento</th>
                    <td class="px-4 py-2 border-b border-gray-300 text-right">
                        <span class="text-sm font-semibold">{{ devolucion.ordenServicio.documento.numero }}</span>
                    </td>
                </tr>
                <tr *ngIf="devolucion.ordenServicio.documento.tipo">
                    <th class="text-left px-4 py-2 bg-gray-100 dark:bg-gray-800 border-b border-gray-300 dark:border-gray-600 w-1/3">Documento Tipo</th>
                    <td class="px-4 py-2 border-b border-gray-300 text-right">
                        <span class="text-sm font-semibold">{{ devolucion.ordenServicio.documento.tipo.nombre }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button *ngIf="!devolucion.id" pButton [fluid]="true" label="Comenzar" severity="info" class="w-12" (click)="comenzar()"></button>
    </div>
</div>
<div class="flex flex-column gap-3 card" *ngIf="devolucion.id">
    <div class="flex flex-row gap-2" *ngIf="devolucion.estado != 2">
        <p-buttongroup>
            <p-button class="md:block hidden" [severity]="modoUnidad ? 'secondary' : 'success'" [outlined]="modoUnidad" label="Manual" (click)="modoChange()" />
            <p-button class="md:hidden block" [severity]="modoUnidad ? 'secondary' : 'success'" [outlined]="modoUnidad" label="M" (click)="modoChange()" />
            <p-button class="md:block hidden" [severity]="modoUnidad ? 'success' : 'secondary'" [outlined]="!modoUnidad" label="Unidad" (click)="modoChange()" />
            <p-button class="md:hidden block" [severity]="modoUnidad ? 'success' : 'secondary'" [outlined]="!modoUnidad" label="U" (click)="modoChange()" />
        </p-buttongroup>
        <input [fluid]="true" pInputText [pAutoFocus]="focusArticulo" id="articulo" (keydown.enter)="buscarArticulo()" [(ngModel)]="articuloBuscar" placeholder="Ingrese codigo" class="w-12" />
    </div>
    <p-table showGridlines [responsive]="true" [value]="devolucion.detalles">
        <ng-template #header>
            <tr>
                <th class="text-center">Detalle</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center"></th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td class="text-center">
                    <div class="flex flex-column gap-1">
                        <span class="text-sm font-semibold">{{ item.item.codigo }}</span>
                        <span class="text-xs text-gray-500">{{ item.item.nombre }}</span>
                    </div>
                </td>
                <td class="text-center">
                    <span class="text-xl">{{ item.cantidad }}</span>
                </td>
                <td class="text-center">
                    <p-button pTooltip="Eliminar" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="eliminarDetalle(item)" />
                    <p-button pTooltip="Editar" icon="pi pi-pencil" [rounded]="true" [text]="true" severity="success" (click)="editarDetalle(item)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="4" class="text-center">No se han agregados artículos.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="flex flex-column gap-2 card" *ngIf="devolucion.id && devolucion.estado != 2">
    <button *ngIf="devolucion.estado == 0" pButton [fluid]="true" label="Guardar" severity="success" class="w-12" (click)="abrir()"></button>
    <button *ngIf="devolucion.estado == 1" pButton [fluid]="true" label="Cerrar" severity="success" class="w-12" (click)="cerrar()"></button>
</div>
<app-modal-loading [visible]="loading"></app-modal-loading>
<p-toast />
<app-modal-cantidad (cantidadChange)="sumarCantidad($event)" [visible]="modalCantidadVisible"></app-modal-cantidad>
<p-confirmdialog #confirmDelete key="confirmDelete">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-trash !text-6xl text-red-500"></i>
            <p>¿Está seguro de Eliminar la imagen?</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" icon="pi pi-times" class="w-12" [fluid]="true" severity="secondary" (click)="confirmDelete.onReject()" />
        <p-button label="Eliminar" icon="pi pi-check" class="w-12" [fluid]="true" severity="danger" (click)="confirmDelete.onAccept()" />
    </ng-template>
</p-confirmdialog>
<p-confirmdialog #confirmDeleteDetalle key="confirmDeleteDetalle">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-trash !text-6xl text-red-500"></i>
            <p>¿Está seguro de Eliminar el detalle?</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" icon="pi pi-times" class="w-12" [fluid]="true" severity="secondary" (click)="confirmDeleteDetalle.onReject()" />
        <p-button label="Eliminar" icon="pi pi-check" class="w-12" [fluid]="true" severity="danger" (click)="confirmDeleteDetalle.onAccept()" />
    </ng-template>
</p-confirmdialog>
<p-confirmdialog #temporal key="temporal" header="Ingreso Temporal">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <p>¿Desea seguir trabajando en el Ingreso {{ devolucion.id }}?</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Eliminar" class="w-12" [fluid]="true" severity="danger" (click)="temporal.onReject()" />
        <p-button label="Continuar" class="w-12" [fluid]="true" severity="success" (click)="temporal.onAccept()" />
    </ng-template>
</p-confirmdialog>
