<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="items" />
</div>
<div class="card flex flex-column gap-2" *ngIf="escuela">
    <div class="flex flex-row gap-2 w-12 justify-content-between">
        <h1 class="text-3xl">{{ escuela.nombre }}</h1>
        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" [routerLink]="['/establecimientos/formulario/' + escuela.id]" routerLinkActive="router-link-active" />
    </div>
    <div class="flex flex-row gap-2 w-12">
        <i class="pi pi-user text-black" style="font-size: 1rem"></i>
        <span class="text-black">{{ escuela.director }}</span>
    </div>
    <div class="flex flex-row gap-2 w-12">
        <i class="pi pi-map-marker text-black" style="font-size: 1rem"></i>
        <span class="text-black">{{ escuela.direccion }}</span>
    </div>
    <div class="flex flex-row gap-2 w-12">
        <i class="pi pi-phone text-black" style="font-size: 1rem"></i>
        <span class="text-black">{{ escuela.telefono }}</span>
    </div>
    <div class="flex flex-row gap-2 w-12">
        <i class="pi pi-envelope text-black" style="font-size: 1rem"></i>
        <span class="text-black">{{ escuela.email }}</span>
    </div>
</div>
<div class="card flex flex-column gap-2" *ngIf="escuela && escuela.id > 0">
    <h2 class="text-xl">Entregas</h2>
    <!-- <div class="flex flex-column md:flex-row gap-1">
        <div class="flex flex-column md:flex-row gap-1 w-12">
            <input pInputText id="ordenServicioId" (keydown.enter)="filtrar()" [(ngModel)]="filtroEntegas.ordenServicioId" placeholder="Buscar por Orden" class="w-12" />
            <input pInputText id="documento" (keydown.enter)="filtrar()" [(ngModel)]="filtroEntegas.documento" placeholder="Buscar por Documento" class="w-12" />
        </div>
        <div class="flex flex-column md:flex-row gap-1 w-12">
            <app-proveedor-select class="w-12" [(proveedor)]="filtroEntegas.proveedor" [showClear]="true" [showFilter]="true" [validar]="false" ></app-proveedor-select>
            <select-boolean class="w-12" [(variable)]="filtroEntegas.entregado" [showClear]="true" [showFilter]="true" [validar]="false" ></select-boolean>
        </div>
        <button pButton icon="pi pi-search" label="Buscar" class="md:w-4 w-12" (click)="filtrar()" ></button>
    </div> -->
    <div class="flex flex-column md:flex-row gap-5 md:gap-2 w-12 mb-5">
        <app-entregas-count [filtro]="filtroEntegas" tipo="Activas" class="w-12" />
        <app-entregas-count [filtro]="filtroEntegas" tipo="Realizadas" class="w-12" />
    </div>
    <app-entregas-mes-chart [escuela]="filtroEntegas.escuela?.id?.toString()" class="w-12" />
    <h2 class="text-xl">Detalles</h2>
    <app-entregas-table [card]="false" [proveedor]="true" [documento]="true" [filtro]="filtroEntegas" [filtros]="true"></app-entregas-table>
</div>
<div class="card flex flex-column gap-2">
    <h2 class="text-xl">Devoluciones</h2>
</div>
<div class="card flex flex-column gap-2">
    <h2 class="text-xl">Mapa</h2>
    <div id="map" style="height: 400px; width: 100%; margin-top: 1rem"></div>
</div>
