<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" />
</div>
<div class="card flex flex-column gap-2 md:gap-4">
    <div class="flex flex-column md:flex-row w-12 justify-content-between md:gap-0 gap-2">
        <h2 class="align-items-center mb-0 md:text-left text-center w-12 text-xl md:text-2xl">Proveedores</h2>
        <button pButton icon="pi pi-plus" label="Agregar" class="md:w-4 w-12" [routerLink]="['/proveedores/formulario']"></button>
    </div>
    <div class="flex flex-column md:flex-row gap-1">
        <input pInputText id="ordenServicioId" (keydown.enter)="getData()" [(ngModel)]="filtro.rut" placeholder="Buscar por Rut" class="w-12" />
        <input pInputText id="documento" (keydown.enter)="getData()" [(ngModel)]="filtro.nombre" placeholder="Buscar por Nombre" class="w-12" />
        <button pButton icon="pi pi-search" [severity]="'info'" label="Buscar" class="md:w-4 w-12" [loading]="loading" (click)="getData()"></button>
    </div>
    <p-table class="hidden md:block w-12" [value]="data && data.content ? data.content : []" id="data-table" [loading]="loading" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th class="text-center">Razón Social</th>
                <th class="text-center">Rut</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Email</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td class="text-center">{{ item.nombre }}</td>
                <td class="text-center">{{ item.rut }}</td>
                <td class="text-center">{{ item.direccion }}</td>
                <td class="text-center">{{ item.email }}</td>
                <td class="text-center">
                    <p-button pTooltip="Editar" icon="pi pi-pencil" [rounded]="true" [text]="true" severity="success" [routerLink]="['/proveedores/formulario/' + item.id]" routerLinkActive="router-link-active" />
                    <p-button pTooltip="Eliminar" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="confirmarDesactivacion(item)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <p-paginator (onPageChange)="pageChange($event)" [first]="filtro.page * filtro.size" [rows]="filtro.size" [totalRecords]="data ? data.totalElements : 0" [rowsPerPageOptions]="[10, 20, 30]" />
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="5" class="text-center">No se encontraron proveedores</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-table-mobile [size]="filtro.size" [page]="filtro.page" (pageChange)="pageChange($event)" [card]="true" [mostrarAcciones]="true" (accion)="resolverAccion($event)" [acciones]="acciones" [data]="data ? data.content : []" [campos]="campos"></app-table-mobile>
<app-modal-loading [visible]="loading" />
<p-toast />
<p-confirmdialog #cProveedor key="cProveedor">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-trash !text-6xl text-red-500"></i>
            <p>¿Está seguro de desactivar?</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" icon="pi pi-times" class="w-12" [fluid]="true" severity="secondary" (click)="cProveedor.onReject()" />
        <p-button label="Eliminar" icon="pi pi-check" class="w-12" [fluid]="true" severity="danger" (click)="cProveedor.onAccept()" />
    </ng-template>
</p-confirmdialog>
