<p-toast />
<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="menus" />
</div>
<div class="flex flex-column">
    <div class="flex flex-column gap-3 card">
        <div class="flex md:flex-row flex-column gap-1">
            <div class="flex flex-column gap-2 w-12">
                <label class="text-md font-semibold">Bodega origen</label>
                <app-bodegas-select [disabled]="disabled" [validar]="validar" [(bodega)]="orden.bodega" [showClear]="true" [showFilter]="true" class="w-12"></app-bodegas-select>
            </div>
            <div class="flex flex-col gap-2 w-12">
                <div class="flex flex-col gap-2 w-12">
                    <label for="escuela">Escuela Destino</label>
                    <app-escuelas-select [disabled]="disabled" [validar]="validar" [(escuela)]="orden.escuela" [showClear]="true" [showFilter]="true" class="w-12"></app-escuelas-select>
                </div>
            </div>
        </div>
        <p-panel *ngIf="orden.escuela" header="Cliente" class="w-12">
            <table class="table-auto border-collapse w-12">
                <tr>
                    <th class="text-left font-bold p-2 border-y-1">RBD</th>
                    <th class="text-left p-2 border-y-1">{{ orden.escuela.rbd }}</th>
                </tr>
                <tr>
                    <th class="text-left p-2 border-bottom-1">Comuna</th>
                    <th class="text-left p-2 border-bottom-1">{{ orden.escuela.comuna }}</th>
                </tr>
                <tr>
                    <th class="text-left p-2 border-bottom-1">Nombre Establecimiento</th>
                    <th class="text-left p-2 border-bottom-1">{{ orden.escuela.nombre }}</th>
                </tr>
                <tr>
                    <th class="text-left p-2 border-bottom-1">Director (a)</th>
                    <th class="text-left p-2 border-bottom-1">{{ orden.escuela.director }}</th>
                </tr>
                <tr>
                    <th class="text-left p-2 border-bottom-1">Dirección</th>
                    <th class="text-left p-2 border-bottom-1">{{ orden.escuela.direccion }}</th>
                </tr>
            </table>
        </p-panel>
    </div>
    <div *ngIf="orden.bodega && orden.bodega.id == 1 && orden.id == 0 && orden.escuela" class="flex flex-column gap-3 card">
        <app-documentos-modal-select class="flex w-12" [asignado]="false" [documento]="documento" (documentoChange)="documentoChange($event)"></app-documentos-modal-select>
    </div>
    <div *ngIf="(orden.bodega && orden.bodega.id != 1 && orden.escuela) || (orden.bodega && orden.bodega.id == 1 && orden.documento.id > 0 && orden.escuela)" class="flex flex-column gap-2 card">
        <div class="flex flex-row gap-2 w-12 justify-content-between">
            <h3 class="text-lg font-semibold mb-0 {{ validar && orden.detalles.length == 0 ? 'text-red-600' : '' }}">Detalles de la Orden</h3>
            <i *ngIf="validar && orden.detalles.length == 0" class="text-xl pi pi-exclamation-triangle text-red-600 align-items-center flex"></i>
        </div>
        <p-table *ngIf="(orden.bodega && orden.bodega.id != 1) || (orden.bodega && orden.bodega.id == 1 && orden.documento.id > 0)" [value]="orden.detalles" id="ordenes-table" [loading]="loading" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th class="text-center">Insumo</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center"><p-button [disabled]="disabled" pTooltip="Agregar Item" icon="pi pi-plus" [rounded]="true" [text]="true" severity="success" (click)="agregarFila()" /></th>
                </tr>
            </ng-template>
            <ng-template #body let-producto>
                <tr>
                    <td class="text-center">{{ producto.nombre }}</td>
                    <td class="text-center">{{ producto.cantidad }}</td>
                    <td class="text-center">
                        <p-button [disabled]="disabled" pTooltip="Eliminar" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="confirmarEliminarDetalle(producto)" />
                        <p-button [disabled]="disabled" pTooltip="Editar" icon="pi pi-pencil" [rounded]="true" [text]="true" severity="help" (click)="editarDetalle(producto)" />
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymesage>
                <div class="flex items-center w-12 p-2 text-center justify-between">Sin Items</div>
            </ng-template>
        </p-table>
    </div>
    <div class="flex flex-column gap-3 card" *ngIf="(orden.bodega && orden.bodega.id != 1 && orden.escuela) || (orden.bodega && orden.bodega.id == 1 && orden.documento.id > 0 && orden.escuela)">
        <textarea [(ngModel)]="orden.observaciones" [disabled]="disabled" class="w-12 p-inputtext p-component" rows="5" placeholder="Ingrese observaciones"></textarea>
    </div>
    <div class="flex flex-column gap-2 card w-12" *ngIf="orden.id > 0 && imagenes && imagenes.length > 0">
        <span class="text-lg font-semibold">PDF</span>
        <div class="flex flex-row gap-1">
            <div class="flex w-12 md:flex-row flex-col gap-1">
                <button pButton type="button" icon="pi pi-plus" label="Descargar PDF" class="w-12" severity="danger" (click)="descargarPdfVerificacion(imagenes[0].itemImageSrc)"></button>
                <button pButton type="button" icon="pi pi-trash" label="Eliminar" class="w-12" severity="danger" (click)="confirmarEliminar(imagenes[0].id)" [outlined]="true"></button>
            </div>
        </div>
    </div>
    <div *ngIf="orden.id > 0 && imagenes && imagenes.length == 0" class="flex flex-column gap-3 card">
        <!-- <p-galleria *ngIf="orden.documento.id > 0 && imagenes && imagenes.length > 0" [value]="imagenes" (onItemChange)="onImagenChange($event)" [responsiveOptions]="responsiveOptions" [numVisible]="5">
            <ng-template #item let-item>
                <img [src]="item.itemImageSrc" style="width: 100%" />
            </ng-template>
            <ng-template #caption>
                <div class="flex flex-row justify-content-between items-center w-12 p-fluid">
                    <p-button variant="text" label="Eliminar" severity="danger" icon="pi pi-trash" size="large" (click)="confirmarEliminar()" class="w-12 p-fluid" [fluid]="true" [disabled]="!imagenSeleccionada" />
                </div>
            </ng-template>
            <ng-template #thumbnail let-item>
                <img [src]="item.thumbnailImageSrc" style="width: 50px; height: 50px; object-fit: cover" />
            </ng-template>
        </p-galleria> -->
        <p-fileupload
            *ngIf="orden.id > 0 && imagenes && imagenes.length == 0"
            name="myfile[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
            [multiple]="true"
            accept="application/pdf"
            maxFileSize="1000000"
            (onUpload)="onTemplatedUpload()"
            (onSelect)="onSelectedFiles($event)"
        >
            <ng-template #header let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
                <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
                    <div class="flex gap-2">
                        <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-file-pdf" [rounded]="true" />
                        <p-button (onClick)="clearCallback()" icon="pi pi-trash" [rounded]="true" [outlined]="true" severity="danger" [disabled]="!files || files.length === 0" />
                    </div>
                </div>
            </ng-template>
            <ng-template #content let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
                <div class="flex flex-col gap-8 pt-4">
                    <div *ngIf="files?.length > 0">
                        <h5>Pendiente</h5>
                        <div class="flex flex-wrap gap-4">
                            <div *ngFor="let file of files; let i = index" class="p-8 rounded-border flex flex-col border border-surface items-center gap-4">
                                <div>
                                    <ng-container *ngIf="file.type.startsWith('image/'); else pdfPreview">
                                        <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                                    </ng-container>
                                    <ng-template #pdfPreview>
                                        <i class="pi pi-file-pdf text-4xl text-red-600"></i>
                                    </ng-template>
                                </div>
                                <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{ file.name }}</span>
                                <div>{{ formatSize(file.size) }}</div>
                                <p-badge value="Pending" severity="warn" />
                                <p-button icon="pi pi-times" (click)="onRemoveTemplatingFile($event, file, removeFileCallback, i)" [outlined]="true" [rounded]="true" severity="danger" />
                            </div>
                        </div>
                    </div>
                    <div *ngIf="uploadedFiles?.length > 0">
                        <h5>Completed</h5>
                        <div class="flex flex-wrap gap-4">
                            <div *ngFor="let file of uploadedFiles; let i = index" class="card m-0 px-12 flex flex-col border border-surface items-center gap-4">
                                <div>
                                    <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                                </div>
                                <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{ file.name }}</span>
                                <div>{{ formatSize(file.size) }}</div>
                                <p-badge value="Completed" class="mt-4" severity="success" />
                                <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(i)" [outlined]="true" [rounded]="true" severity="danger" />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #file></ng-template>
            <ng-template #empty>
                <div class="flex items-center justify-center flex-col">
                    <i class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"></i>
                    <p class="mt-6 mb-0">Arrastre la PDF aquí.</p>
                </div>
            </ng-template>
        </p-fileupload>
    </div>
</div>
<div class="flex flex-column md:flex-row gap-2 card w-12" *ngIf="(orden.bodega && orden.bodega.id != 1 && orden.escuela) || (orden.bodega && orden.bodega.id == 1 && orden.documento.id > 0 && orden.escuela)">
    <p-button class="w-12" size="large" [fluid]="true" label="Volver" severity="secondary" icon="pi pi-times" [routerLink]="['/ordenes-servicios']" />
    <p-button *ngIf="orden.id == 0" class="w-12" size="large" [fluid]="true" [label]="'Guardar'" severity="success" icon="pi pi-save" (click)="confirmarGuardar()" />
    <p-button *ngIf="orden.id != 0" class="w-12" size="large" [fluid]="true" [label]="'Actualizar'" severity="success" icon="pi pi-save" (click)="guardar()" />
    <p-button *ngIf="orden.id > 0" class="w-12" size="large" [fluid]="true" label="Descargar PDF" severity="danger" icon="pi pi-file-pdf" (click)="obtenerPdf()" />
</div>
<p-confirmdialog #eliminarImage>
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-trash !text-6xl text-red-500"></i>
            <p>¿Está seguro de Eliminar la imagen?</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" icon="pi pi-times" class="w-12" [fluid]="true" severity="secondary" (click)="eliminarImage.onReject()" />
        <p-button label="Eliminar" icon="pi pi-check" class="w-12" [fluid]="true" severity="danger" (click)="eliminarImage.onAccept()" />
    </ng-template>
</p-confirmdialog>
<app-modal-loading [visible]="loading" />
<p-dialog [header]="detalle.id > 0 ? 'Editar Item' : 'Agregar Item'" [modal]="true" [(visible)]="displayItem" [style]="{ width: '25rem' }">
    <div class="flex flex-col gap-2 w-12">
        <div class="flex flex-col gap-2 w-12">
            <label for="nombre">Nombre</label>
            <input pInputText id="nombre" type="text" [(ngModel)]="detalle.nombre" class="w-12" />
        </div>
        <div class="flex flex-col gap-2 w-12">
            <label for="cantidad">Cantidad</label>
            <p-inputnumber class="w-12" inputId="cantidad" [(ngModel)]="detalle.cantidad" />
        </div>
    </div>
    <ng-template #footer>
        <p-button label="Cancelar" [text]="true" severity="secondary" class="w-12" [fluid]="true" (click)="cerrardialogItem()" />
        <p-button label="Guardar" severity="success" class="w-12" [fluid]="true" (click)="guardarDetalle()" />
    </ng-template>
</p-dialog>
<p-dialog [header]="detalle.id > 0 ? 'Editar Item' : 'Agregar Item'" [modal]="true" [(visible)]="visibleItem" [style]="{ width: '25rem' }">
    <div class="flex flex-col gap-2 w-12">
        <div class="flex flex-col gap-2 w-12">
            <label for="nombre">Buscar Item</label>
            <app-autocomplete-select [saldo]="detalle.saldoBodega" [filtro]="filtroSaldoBodega" (selected)="saldoSeleccionado($event)" class="w-12" />
        </div>
        <div class="flex flex-col gap-2 w-12">
            <label for="cantidad">Cantidad</label>
            <p-inputnumber class="w-12 {{ detalle && detalle.saldoBodega && detalle.saldoBodega.saldo > detalle.cantidad ? '' : 'ng-dirty ng-invalid' }}" [disabled]="!habililitarSaldo" inputId="cantidad" [(ngModel)]="detalle.cantidad" />
        </div>
    </div>
    <ng-template #footer>
        <p-button label="Cancelar" [text]="true" severity="secondary" class="w-12" [fluid]="true" (click)="cerrardialogItem()" />
        <p-button label="Guardar" severity="success" class="w-12" [fluid]="true" (click)="guardarDetalle()" />
    </ng-template>
</p-dialog>
<p-confirmdialog #cGuardar key="cGuardar">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-save !text-4xl text-green-500"></i>
            <p>Recuerde que al guardar se harán los respectivos movimientos en bodega</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" class="w-12" [fluid]="true" severity="secondary" (click)="cGuardar.onReject()" />
        <p-button label="Guardar" class="w-12" [fluid]="true" severity="success" (click)="cGuardar.onAccept()" />
    </ng-template>
</p-confirmdialog>
<p-confirmdialog #cEliminarDetalle key="cEliminarDetalle">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-trash !text-6xl text-red-500"></i>
            <p>¿Está seguro de Eliminar el detalle?</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" icon="pi pi-times" class="w-12" [fluid]="true" severity="secondary" (click)="cEliminarDetalle.onReject()" />
        <p-button label="Eliminar" icon="pi pi-check" class="w-12" [fluid]="true" severity="danger" (click)="cEliminarDetalle.onAccept()" />
    </ng-template>
</p-confirmdialog>
