<div class="flex flex-column gap-3">
    <div class="{{ card ? 'card' : '' }} flex flex-column md:flex-row gap-1" *ngIf="filtros">
        <input *ngIf="orden" pInputText id="ordenServicioId" (keydown.enter)="getData()" [(ngModel)]="filtro.ordenServicioId" placeholder="Buscar por Orden" class="w-12 p-fluid" />
        <app-escuelas-select *ngIf="escuelaFiltro" class="w-12 p-fluid" [(escuela)]="filtro.escuela" [showClear]="true" [showFilter]="true" [validar]="false" (ngModelChange)="getData()"></app-escuelas-select>
        <select-boolean [opciones]="opcionesSelectBoolean" *ngIf="estado" class="w-12" [(variable)]="filtro.entregado" [showClear]="true" [showFilter]="true" [validar]="false" (ngModelChange)="getData()"></select-boolean>
        <button pButton icon="pi pi-search" label="Buscar" class="md:w-4 w-12" [loading]="loading" (click)="getData()"></button>
    </div>
    <p-table class="hidden md:block {{ card ? 'card' : '' }}" [value]="entregas && entregas.content ? entregas.content : []" id="entregas-table" [loading]="loading" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th class="text-center">Orden Servicio</th>
                <th class="text-center">Fecha</th>
                <th *ngIf="escuela" class="text-center">Escuela</th>
                <th *ngIf="escuela" class="text-center">Comuna</th>
                <th class="text-center">Estado</th>
                <th class="text-center"></th>
            </tr>
        </ng-template>
        <ng-template #body let-item let-index="rowIndex">
            <tr>
                <td class="text-center">
                    {{ item.ordenServicio.id }}
                    <p-button *ngIf="item.ordenServicio.entregado" Tooltip="Ver Imagen" icon="pi pi-images" [rounded]="true" [text]="true" severity="success" (click)="abrirModalImagen(item.ordenServicio.id)" />
                    <p-button pTooltip="PDF" icon="pi pi-file-pdf" [rounded]="true" [text]="true" severity="danger" (click)="obtenerPdf(item.ordenServicio.id)" />
                </td>
                <td class="text-center">{{ item.fecha | date: 'dd/MM/yyyy' }}</td>
                <td class="text-center" *ngIf="escuela">{{ item.ordenServicio.escuela.nombre }}</td>
                <td class="text-center" *ngIf="escuela">{{ item.ordenServicio.escuela.comuna }}</td>
                <td class="text-center">
                    <p-tag *ngIf="item.entregado" severity="success" value="Entregado" />
                    <p-tag *ngIf="!item.entregado" severity="warn" value="Pendiente" />
                </td>
                <td class="text-center">
                    <p-button *ngIf="(esAdmin$ | async) && !item.entregado" pTooltip="Entregar" icon="pi pi-check" [rounded]="true" [text]="true" severity="success" (click)="openModalEntrega(index)" />
                    <p-button *ngIf="ruta" pTooltip="Ver Ruta" icon="pi pi-eye" [rounded]="true" [text]="true" severity="secondary" [routerLink]="['/rutas/formulario/' + item.ruta]" routerLinkActive="router-link-active" />
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <p-paginator (onPageChange)="pageChange($event)" [first]="filtro.page * filtro.size" [rows]="filtro.size" [totalRecords]="entregas ? entregas.totalElements : 0" [rowsPerPageOptions]="[10, 20, 30]" />
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="6" class="text-center">No se encontraron entregas</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-table-mobile [size]="filtro.size" [page]="filtro.page" (pageChange)="pageChange($event)" [card]="card" [mostrarAcciones]="true" [acciones]="acciones" [data]="entregas ? entregas.content : []" [campos]="campos"></app-table-mobile>
<app-ordenes-servicios-imagen [id]="ordenId" [visible]="mostrarImagenes" (onVisible)="cerrarModalImagen()"></app-ordenes-servicios-imagen>
<app-modal-loading [visible]="loading" />
<p-toast />
<p-dialog [(visible)]="displayEntregas" [modal]="true" [closable]="false">
    <ng-template pTemplate="content">
        <div *ngIf="entrega" class="flex flex-column">
            <i class="pi pi-truck text-center" style="font-size: 2rem"></i>
            <p class="text-center text-2xl text-green-500">{{ entrega.ordenServicio.escuela?.nombre }}</p>
            <p class="text-center">Comuna: {{ entrega.ordenServicio.escuela?.comuna }}</p>
            <p class="text-center">Dirección: {{ entrega.ordenServicio.escuela?.direccion }}</p>
            <app-entregas-button-recepcion (onRecepcionada)="closeModalEntrega()" *ngIf="entrega && !entrega.entregado" [entregaId]="entrega.id"></app-entregas-button-recepcion>
            <span *ngIf="entrega && entrega.entregado" class="text-center text-2xl text-green-500">Entregado</span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton severity="secondary" [text]="true" label="Cerrar" class="w-12" [fluid]="true" icon="pi pi-times" (click)="displayEntregas = false"></button>
    </ng-template>
</p-dialog>
