<div class="flex flex-column">
    <div class="{{ card ? 'card' : '' }} flex flex-column md:flex-row gap-1" *ngIf="filtros">
        <div class="flex flex-column md:flex-row gap-1 w-12" *ngIf="orden">
            <input pInputText id="ordenServicioId" (keydown.enter)="getData()" [(ngModel)]="filtro.ordenServicioId" placeholder="Buscar por Orden" class="w-12" />
            <!-- <input pInputText id="documento" (keydown.enter)="getData()" [(ngModel)]="filtro.documento" placeholder="Buscar por Documento" class="w-12" /> -->
        </div>
        <div class="flex flex-column md:flex-row gap-1 w-12">
            <app-escuelas-select class="w-12" [(escuela)]="filtro.escuela" [showClear]="true" [showFilter]="true" [validar]="false" (ngModelChange)="getData()"></app-escuelas-select>
            <!-- <app-proveedor-select class="w-12" [(proveedor)]="filtro.proveedor" [showClear]="true" [showFilter]="true" [validar]="false" (ngModelChange)="getData()" ></app-proveedor-select> -->
            <select-boolean *ngIf="estado" class="w-12" [(variable)]="filtro.entregado" [showClear]="true" [showFilter]="true" [validar]="false" (ngModelChange)="getData()"></select-boolean>
        </div>
        <button pButton icon="pi pi-search" label="Buscar" class="md:w-4 w-12" [loading]="loading" (click)="getData()"></button>
    </div>
    <p-table class="hidden md:block {{ card ? 'card' : '' }}" [value]="entregas && entregas.content ? entregas.content : []" id="entregas-table" [loading]="loading" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th class="text-center">Orden Servicio</th>
                <th class="text-center">Fecha</th>
                <th *ngIf="escuela" class="text-center">Escuela</th>
                <th *ngIf="escuela" class="text-center">Comuna</th>
                <th class="text-center">Estado</th>
                <th *ngIf="ruta" class="text-center">Ruta</th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td class="text-center">{{ item.ordenServicio.id }}
                    <p-button *ngIf="item.ordenServicio.entregado" Tooltip="Ver Imagen" icon="pi pi-images" [rounded]="true" [text]="true" severity="success" (click)="abrirModalImagen(item.ordenServicio.id)" />
                    <p-button pTooltip="PDF" icon="pi pi-file-pdf" [rounded]="true" [text]="true" severity="danger" (click)="obtenerPdf(item.ordenServicio.id)" />
                </td>
                <td class="text-center">{{ item.fecha | date: 'dd/MM/yyyy' }}</td>
                <td class="text-center" *ngIf="escuela">{{ item.ordenServicio.escuela.nombre }}</td>
                <td class="text-center" *ngIf="escuela">{{ item.ordenServicio.escuela.comuna }}</td>
                <td class="text-center">
                    <p-tag *ngIf="item.entregado" severity="success" value="Entregado" />
                    <p-tag *ngIf="!item.entregado" severity="warn" value="En Ruta" />
                </td>
                <td class="text-center" *ngIf="ruta">
                    <p-button pTooltip="Ver Ruta" icon="pi pi-eye" [rounded]="true" [text]="true" severity="success" [routerLink]="['/rutas/formulario/' + item.ruta]" routerLinkActive="router-link-active" />
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <p-paginator (onPageChange)="pageChange($event)" [first]="filtro.page * filtro.size" [rows]="filtro.size" [totalRecords]="entregas ? entregas.totalElements : 0" [rowsPerPageOptions]="[10, 20, 30]" />
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="6" class="text-center">No se encontraron entregas</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-table-mobile [size]="filtro.size" [page]="filtro.page" (pageChange)="pageChange($event)" [card]="card" [mostrarAcciones]="true" [acciones]="acciones" [data]="entregas ? entregas.content : []" [campos]="campos"></app-table-mobile>
<app-ordenes-servicios-imagen [id]="ordenId" [visible]="mostrarImagenes" (onVisible)="cerrarModalImagen()"></app-ordenes-servicios-imagen>
<app-modal-loading [visible]="loading" />
<p-toast />
