<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" />
</div>
<div class="flex flex-column">
    <div class="card flex flex-row w-12 justify-content-between">
        <h2 class="align-items-center mb-0 md:text-left text-center w-12 text-xl md:text-2xl">Entregas</h2>
    </div>
    <app-entregas-table [escuelaFiltro]="true" [estado]="true" [orden]="true" [escuela]="true" [ruta]="true" [filtro]="filtro" [filtros]="true"></app-entregas-table>
</div>
