<p-toast />
<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" />
</div>
<div class="card flex flex-column gap-4">
    <div class="flex flex-row w-12 justify-content-between">
        <h2>Entregas</h2>
    </div>
    <p-table [value]="entregas && entregas.content ? entregas.content : []" id="entregas-table" [loading]="loading" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th class="text-center">
                    <input pInputText id="ordenServicioId" (keydown.enter)="getData()" [(ngModel)]="filtro.ordenServicioId" placeholder="Buscar por Orden" class="w-12" />
                </th>
                <th class="text-center">
                    <input pInputText id="entregado" [disabled]="true" class="w-12" />
                </th>
                <th class="text-center"></th>
            </tr>
            <tr>
                <th class="text-center">Orden Servicio</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Ruta</th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td class="text-center">{{ item.ordenServicio.id }}</td>
                <td class="text-center">
                    <p-tag *ngIf="item.entregado" severity="success" value="Entregado" />
                    <p-tag *ngIf="!item.entregado" severity="warn" value="En Ruta" />
                </td>
                <td class="text-center">
                    <p-button pTooltip="Ver Ruta" icon="pi pi-eye" [rounded]="true" [text]="true" severity="success" [routerLink]="['/rutas/formulario/' + item.ruta]" routerLinkActive="router-link-active" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-modal-loading [visible]="loading" />
