<p-toast />
<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" />
</div>
<div class="card flex flex-column gap-4">
    <div class="flex flex-row w-12 justify-content-between">
        <h2>Documentos</h2>
        <p-button label="Nuevo Documento" icon="pi pi-plus" severity="info" [routerLink]="['/documentos/formulario']" routerLinkActive="router-link-active" />
    </div>
    <p-table [value]="documentos && documentos.content ? documentos.content : []" id="documentos-table" [loading]="loading" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th class="text-center">Folio</th>
                <th class="text-center">Tipo Documento</th>
                <th class="text-center">Proveedor</th>
                <th class="text-center">Proveedor Rut</th>
                <th class="text-center">Bodega</th>
                <th class="text-center">Destino</th>
                <th class="text-center">Comuna</th>
                <th class="text-center">Imagen</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td class="text-center">{{ item.numero }}</td>
                <td class="text-center">{{ item.tipoCodigo == 52 ? 'Guia de Despecha' : 'Factura' }}</td>
                <td class="text-center">{{ item.proveedor.nombre }}</td>
                <td class="text-center">{{ item.proveedor.rut }}</td>
                <td class="text-center">{{ item.bodega.nombre }}</td>
                <td class="text-center">{{ item.escuela.nombre }}</td>
                <td class="text-center">{{ item.escuela.comuna }}</td>
                <td class="text-center">
                    <p-button pTooltip="Ver Imagen" icon="pi pi-image" [rounded]="true" [text]="true" severity="success" (click)="displayImagen(item)" />
                </td>
                <td class="text-center">
                    <p-button pTooltip="Editar" icon="pi pi-pencil" [rounded]="true" [text]="true" severity="help" [routerLink]="['/documentos/formulario/' + item.id]" routerLinkActive="router-link-active" />
                    <p-button pTooltip="Eliminar" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="confirmarEliminar(item)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog *ngIf="imagenes && imagenes.length > 0" [header]="'Imagenes'" [modal]="true" [(visible)]="visible" [breakpoints]="{ '780px': '50vw', '575px': '90vw' }" [style]="{ width: '50vw' }">
    <div class="flex flex-column w-12 gap-2">
        <p-galleria [value]="imagenes" (onItemChange)="onImagenChange($event)" [responsiveOptions]="responsiveOptions" [numVisible]="5">
            <ng-template #item let-item>
                <img [src]="item.itemImageSrc" style="width: 100%" />
            </ng-template>
        </p-galleria>
    </div>
    <ng-template #footer>
        <p-button label="Cerrar" [text]="true" severity="secondary" class="w-12" [fluid]="true" (click)="cerrarModal()" />
        <button pButton type="button" label="Descargar imagen" class="w-12" [fluid]="true" icon="pi pi-download" (click)="descargarImagen()" [disabled]="!imagenSeleccionada"></button>
    </ng-template>
</p-dialog>
<app-modal-loading [visible]="loading" [texto]="'Cargando documentos...'" />
