<div *ngIf="!loading && ruta" class="card flex flex-column gap-2">
    <ng-container *ngIf="!entrega">
        <p class="text-center">No hay una Ruta asignada para hoy.</p>
    </ng-container>
    <div *ngIf="entrega" class="card flex flex-column gap-2">
        <h2 class="text-center text-3xl">Entregas de la Ruta</h2>
        <p-accordion value="0" *ngIf="entrega">
            <ng-container *ngFor="let entrega of ruta.entregas; let i = index">
                <p-accordion-panel [value]="i">
                    <p-accordion-header>
                        <ng-template #toggleicon let-active="active">
                            @if (active) {
                                <i class="pi pi-minus"></i>
                            } @else {
                                <i class="pi pi-plus"></i>
                            }
                        </ng-template>
                        <span class="flex items-center gap-2 w-12 pr-4">
                            <span class="font-bold w-12">{{ entrega.ordenServicio.escuela?.nombre }}</span>
                            <span *ngIf="entrega.entregado" class="pi pi-truck text-xl text-green-500"></span>
                            <span *ngIf="!entrega.entregado" class="pi pi-truck text-xl text-red-500"></span>
                        </span>
                    </p-accordion-header>
                    <p-accordion-content>
                        <div *ngIf="!loading" class="flex flex-column gap-3">
                            <ng-container *ngIf="entrega">
                                <div class="flex flex-column gap-1">
                                    <p class="text-left font-bold w-12 mb-0">Comuna: {{ entrega.ordenServicio.escuela?.comuna }}</p>
                                    <p *ngIf="entrega.ordenServicio.escuela?.direccion" class="text-left font-bold w-12 mb-0">Dirección: {{ entrega.ordenServicio.escuela?.direccion }}</p>
                                </div>
                                <app-entregas-button-recepcion *ngIf="ruta && !entrega.entregado" [entregaId]="entrega.id" (onRecepcionada)="recepcionado()"></app-entregas-button-recepcion>
                                <span *ngIf="entrega.entregado" class="text-center text-2xl text-green-500">Entregado</span>
                            </ng-container>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
            </ng-container>
        </p-accordion>

        <!-- <p-table showGridlines *ngIf="ruta" [value]="ruta.entregas" class="w-12">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">Estado</th>
                <th class="text-center">Escuela</th>
                <th class="text-center">Comuna</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td class="text-center">
                    <span *ngIf="rowData.entregado" class="pi pi-truck text-green-500"></span>
                    <span *ngIf="!rowData.entregado" class="pi pi-truck text-red-500"></span>
                </td>
                <td class="text-center">{{ rowData.ordenServicio.escuela.nombre }}</td>
                <td class="text-center">{{ rowData.ordenServicio.escuela.comuna }}</td>
            </tr>
        </ng-template>
    </p-table> -->
    </div>
</div>
<app-modal-loading [visible]="loading"></app-modal-loading>
<p-confirmdialog #cInicioRuta key="cInicioRuta">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-check-circle !text-6xl text-green-500"></i>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" [text]="true" class="w-12" [fluid]="true" severity="secondary" (click)="cInicioRuta.onReject()" />
        <p-button label="Confirmar" class="w-12" [fluid]="true" severity="success" (click)="cInicioRuta.onAccept()" />
    </ng-template>
</p-confirmdialog>
<p-toast />
