<div class="card">
    <div *ngIf="!loading" class="flex flex-column">
        <ng-container *ngIf="entrega">
            <p class="text-center text-2xl">{{ ruta?.enTransito ? 'Destino Actual' : 'Primer Destino' }}</p>
            <i class="pi pi-truck text-center" style="font-size: 2rem"></i>
            <p class="text-center text-2xl text-green-500">{{ entrega.ordenServicio.escuela?.nombre }}</p>
            <p class="text-center">Comuna: {{ entrega.ordenServicio.escuela?.comuna }}</p>
            <p class="text-center">Dirección: {{ entrega.ordenServicio.escuela?.direccion }}</p>
            <app-entregas-button-recepcion *ngIf="ruta && ruta?.enTransito && !entrega.entregado" [entregaId]="entrega.id" (onRecepcionada)="recepcionado()"></app-entregas-button-recepcion>
            <button *ngIf="ruta && !ruta.enTransito" [fluid]="true" pButton label="Conenzar Ruta" icon="pi pi-check" severity="success" (click)="comenzarRuta()" class="w-12" size="large"></button>
        </ng-container>
        <ng-container *ngIf="!entrega">
            <p class="text-center">No hay una Ruta asignada para hoy.</p>
        </ng-container>
    </div>
    <i *ngIf="loading" class="pi pi-spin pi-cog text-center w-12" style="font-size: 4rem"></i>
</div>
<div *ngIf="!loading && ruta" class="card flex flex-column gap-2">
    <h2 class="text-center text-xl">Entregas de la Ruta</h2>
    <p-table showGridlines *ngIf="ruta" [value]="ruta.entregas" class="w-12">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">Estado</th>
                <th class="text-center">Escuela</th>
                <th class="text-center">Comuna</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td class="text-center">
                    <span *ngIf="rowData.entregado" class="pi pi-truck text-green-500"></span>
                    <span *ngIf="!rowData.entregado" class="pi pi-truck text-red-500"></span>
                </td>
                <td class="text-center">{{ rowData.ordenServicio.escuela.nombre }}</td>
                <td class="text-center">{{ rowData.ordenServicio.escuela.comuna }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<app-modal-loading [visible]="loading"></app-modal-loading>
<p-confirmdialog #cInicioRuta key="cInicioRuta">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-check-circle !text-6xl text-green-500"></i>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" [text]="true" class="w-12" [fluid]="true" severity="secondary" (click)="cInicioRuta.onReject()" />
        <p-button label="Confirmar" class="w-12" [fluid]="true" severity="success" (click)="cInicioRuta.onAccept()" />
    </ng-template>
</p-confirmdialog>
<p-toast />
