<p-toast />
<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" />
</div>
<div class="card flex flex-column gap-4">
    <p-table [value]="ordenes && ordenes.content ? ordenes.content : []" id="ordenes-table" [loading]="loading" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th class="text-center">id</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Escuela</th>
                <th class="text-center">Estado</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-producto>
            <tr>
                <td class="text-center">{{ producto.id }}</td>
                <td>{{ producto.fecha }}</td>
                <td class="text-center">{{ producto.escuela.nombre }}</td>
                <td class="text-center">{{ producto.estadoCodigo }}</td>
                <td class="text-center">
                    <p-button pTooltip="Editar" icon="pi pi-pencil" [rounded]="true" [text]="true" severity="help" (click)="editar(producto)" />
                    <p-button pTooltip="Eliminar" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="confirmarEliminar(producto)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
