<button [fluid]="true" pButton label="Recepcionado" icon="pi pi-check" severity="success"
        (click)="confirmarRecepcion()" class="w-12" size="large"></button>
<p-confirmdialog #cRecepcion key="cRecepcion">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-check-circle !text-6xl text-green-500"></i>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" [text]="true" class="w-12" [fluid]="true" severity="secondary" (click)="cRecepcion.onReject()" />
        <p-button label="Confirmar" class="w-12" [fluid]="true" severity="success" (click)="cRecepcion.onAccept()" />
    </ng-template>
</p-confirmdialog>
<app-modal-loading [visible]="loading"></app-modal-loading>