<div class="flex flex-column gap-4">
    <div class="card flex md:flex-row flex-column w-12 gap-2 justify-content-between align-items-center mb-0" *ngIf="(esAdmin$ | async) || (esCliente$ | async)">
        <app-escuelas-select (escuelaChange)="escuelaChange($event)" [(escuela)]="escuelaSeleccionada" [showClear]="true" [showFilter]="true" class="w-12 p-fluid"></app-escuelas-select>
        <input pInputText id="ordenCompraId" (keydown.enter)="ocChange()" [(ngModel)]="oc" placeholder="Buscar por Orden Compra" class="w-12 p-fluid" />
        <app-categorias-select (categoriaChange)="categoriaSeleccionadaChange($event)" [categoria]="categoriaSeleccionada" class="w-12" [showClear]="true" [showFilter]="true" [validar]="false" />
        <p-datepicker class="w-12" (ngModelChange)="changeDate($event)" placeholder="Filtre por Fecha" [(ngModel)]="fechaFiltro" [fluid]="true" dateFormat="dd/mm/yy" [showClear]="true" />
    </div>
    <div class="flex flex-column gap-2" *ngIf="(esAdmin$ | async) || (esCliente$ | async)">
        <app-entregas-dashboard class="w-12" [filtro]="filtroEntregasAdministrador"></app-entregas-dashboard>
        <div class="flex flex-column w-12 gap-4">
            <div class="card w-12 p-fluid">
                <app-ordenes-servicios-items-despachados-chart [filtro]="filtroOs" class="p-fluid w-12"></app-ordenes-servicios-items-despachados-chart>
            </div>
            <div class="card w-12 p-fluid">
                <app-entregas-mes-chart [filtro]="filtroEntregasAdministrador" class="p-fluid w-12"></app-entregas-mes-chart>
            </div>
            <div class="flex justify-content-center card w-12">
                <app-entregas-top-escuelas-chart class="p-fluid w-12"></app-entregas-top-escuelas-chart>
            </div>
        </div>
    </div>
    <div class="flex flex-column gap-2" *ngIf="esConductor$ | async">
        <app-rutas-actual class="w-12" />
    </div>
</div>
