<p-toast />
<div class="card flex flex-column gap-2 py-1">
    <p-breadcrumb class="max-w-full" [model]="breadcrumb" />
</div>
<div class="card flex flex-column gap-4">
    <div class="flex flex-column gap-2" *ngIf="conBodega">
        <label class="text-lg font-semibold">Bodega</label>
        <app-bodegas-select (bodegaChange)="bodegaChange($event)" [bodega]="filtro.bodega" [showClear]="true" [showFilter]="true" [validar]="false" />
    </div>
    <div *ngIf="filtro.bodega" class="flex flex-column md:flex-row gap-2 w-12">
        <div class="flex flex-row gap-2 w-12">
            <p-iconfield iconPosition="left" class="p-fluid w-12">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" [(ngModel)]="filtro.nombre" placeholder="Buscar por nombre" class="p-fluid w-12" />
            </p-iconfield>
        </div>
        <div class="flex flex-row gap-2 w-12">
            <p-iconfield iconPosition="left" class="p-fluid w-12">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" [(ngModel)]="filtro.codigo" placeholder="Buscar por código" class="p-fluid w-12" />
            </p-iconfield>
        </div>
        <app-marcas-select class="w-12" [(marca)]="filtro.marca" [showClear]="true" [showFilter]="true" [validar]="false" />
        <app-categorias-select class="w-12" [(categoria)]="filtro.categoria" [showClear]="true" [showFilter]="true" [validar]="false" />
        <div class="flex flex-row gap-2 w-12">
            <p-button label="Buscar" [fluid]="true" class="w-12" severity="info" icon="pi pi-search" (click)="getData()" />
        </div>
    </div>
    <p-table *ngIf="filtro.bodega" class="hidden md:block w-12" [value]="data && data.content ? data.content : []" id="data-table">
        <ng-template #header>
            <tr>
                <th class="text-center">SKU</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Categoría</th>
                <th class="text-center">Marca</th>
                <th class="text-center">Unidad Medida</th>
                <th class="text-center">Saldo</th>
                <th *ngIf="(esAdmin$ | async)" class="text-center"></th>
            </tr>
        </ng-template>
        <ng-template #body let-producto>
            <tr>
                <td class="text-center">{{ producto.item.codigo }}</td>
                <td class="text-center">{{ producto.item.nombre }}</td>
                <td class="text-center">{{ producto.item.categoria?.nombre }}</td>
                <td class="text-center">{{ producto.item.marca?.nombre }}</td>
                <td class="text-center">{{ producto.item.unidadMedida.nombre }}</td>
                <td class="text-center">{{ producto.saldo }}</td>
                <td *ngIf="(esAdmin$ | async)" class="text-center">
                    <p-button label="Ajustar Saldo" class="p-button-rounded p-button-text" (click)="ajustarDisplayChange(producto)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <p-paginator (onPageChange)="pageChange($event)" [first]="filtro.page * filtro.size" [rows]="filtro.size" [totalRecords]="data ? data.totalElements : 0" [rowsPerPageOptions]="[10, 20, 30]" />
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="6" class="text-center">No se encontraron entregas</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<ng-container *ngIf="filtro.bodega && data && data.content">
    <app-table-mobile [size]="filtro.size" [page]="filtro.page" (pageChange)="pageChange($event)" [mostrarAcciones]="true" [data]="data.content" [campos]="campos"></app-table-mobile>
</ng-container>
<app-modal-loading [visible]="loading"></app-modal-loading>
<p-dialog header="Ajustar Saldo" *ngIf="seleccionado" [modal]="true" [(visible)]="ajustarDisplay" [style]="{ width: '45rem' }">
    <div class="flex flex-col gap-2 w-12">
        <div class="flex flex-col gap-2 w-12">
            <label for="cantidad">Cantidad</label>
            <p-inputnumber class="w-12 {{ seleccionado && seleccionado.saldo >= 0 ? '' : 'ng-dirty ng-invalid' }}" inputId="cantidad" [(ngModel)]="seleccionado.saldo" />
        </div>
    </div>
    <ng-template #footer>
        <p-button label="Cancelar" [text]="true" severity="secondary" class="w-12" [fluid]="true" (click)="cerrarAjustarDisplay()" />
        <p-button label="Guardar" severity="success" class="w-12" [fluid]="true" (click)="ajustar()" />
    </ng-template>
</p-dialog>
<p-confirmdialog #cGuardar key="cGuardar">
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i class="pi pi-save !text-4xl text-green-500"></i>
            <p>Recuerde que al guardar se harán los respectivos movimientos en bodega</p>
        </div>
    </ng-template>
    <ng-template #footer>
        <p-button label="Cancelar" variant="text" class="w-12" [fluid]="true" severity="secondary" (click)="cGuardar.onReject()" />
        <p-button label="Guardar" class="w-12" [fluid]="true" severity="success" (click)="cGuardar.onAccept()" />
    </ng-template>
</p-confirmdialog>
